@charset "utf-8";

@media (min-width:1000px) {

    /*wrap*/
    #wrap {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    header {
        width: 100%;
        height: auto;
        display: flex;
    }

    /*메인헤더*/
    .main-header {
        margin: 0 auto;
        width: 97%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        padding-top: 30px;
    }

    /*메인로고*/
    #logo {
        width: 160px;
        height: 75px;
    }

    #logo img {
        width: 100%;
        height: 100%;
    }

    /*메인메뉴*/
    .b ul {
        display: flex;
    }

    .b ul li a {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        padding: 20px;
        display: inline;
    }

    .b ul li a:hover {
        border-bottom: 3px solid #fff;
    }

    /*메인햄버거*/
    .a {
        width: 40px;
        height: 40px;
    }

    .a:hover {
        cursor: pointer;
    }

    /*세컨랩*/
    .c {
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: none;
    }

    /*세컨헤더*/
    #sec-header {
        margin: 0 auto;
        width: 100%;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        border-bottom: 1px solid #d3d3d3;
    }

    /*세컨로고*/
    #logo2 {
        width: 160px;
        height: 75px;
    }

    #logo2 img {
        width: 100%;
        height: 100%;
    }

    /*세컨엑스표*/
    .d {
        width: 40px;
        height: 40px;
    }

    .d:hover {
        cursor: pointer;
        transform: rotate(45deg);
    }

    /*세컨언어설정*/
    #sec-header nav ul {
        display: flex;
        flex-direction: row;
    }

    #sec-header nav ul li a {
        color: #111;
        font-size: 15px;
        font-weight: 600;
        padding: 17px;
        line-height: 40px;
    }

    #sec-header nav ul li a:hover {
        border-bottom: 3px solid #111;
    }

    /*세컨예약*/
    .booking ul {
        display: flex;
        align-items: center;
    }


    .booking ul li a {
        color: #111;
        font-size: 15px;
        font-weight: 600;
        padding: 12px;
    }

    .booking ul li a:hover {
        border-bottom: 3px solid #111;
    }

    .booking img {
        width: 30px;
        height: 30px;
    }

    /*세컨메뉴 : 세컨박스1 -599px, 2 -600px 안 보이기*/
    #sec-box1 {
        display: none;
    }

    #sec-box2 {
        display: none;
    }

    /*세컨메뉴-sec-box3*/
    #sec-box3 {
        width: 100%;
        height: 800px;
        display: flex;
        margin: 0 auto;
        justify-content: space-evenly;
    }

    .box {
        width: 500px;
        height: 800px;
        border-right: 1px solid #d3d3d3;
        padding: 30px;
    }

    .box:nth-of-type(2) {
        border-right: 1px solid #d3d3d3;
    }

    .box:nth-of-type(4) {
        border: 0;
    }

    /*세컨메뉴의숫자*/
    .box p {
        font-size: 13px;
        color: #222;
    }

    /*세컨메뉴*/
    .box ul li {
        padding: 0 0 20px 0;
    }

    .box ul li a {
        color: #2f2f2f;
        font-size: 15px;
        font-weight: 600;
    }

    .box ul li a:hover {
        border-bottom: 3px solid #2f2f2f;
    }

    .box ul li:nth-of-type(1) a {
        font-size: 30px;
    }

    .box ul li:nth-of-type(1) {
        padding: 15px 0 30px 0;
    }

    /*큰box에서 작은box 두 개로 나눔, box1=상, box2=하*/
    .box1 {
        height: 400px;
    }

    .box2 {
        height: 400px;
    }



    /*푸터*/
    footer {
        border-top: 1px solid #d3d3d3;
        width: 100%;
        height: 335px;
        padding: 30px;
    }

    /*푸터탑*/
    .ft-top {
        width: 100%;
        height: 100px;
    }

    /*푸터박스1*/
    .ft-box1 {
        width: 740px;
        height: 30px;
        float: left;
    }

    .ft-box1 ul {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
    }

    .ft-box1 ul li {
        font-size: 16px;
        color: #2f2f2f;
        font-weight: 500;
    }

    .ft-box1 ul li a {
        font-size: 16px;
        color: #2f2f2f;
        font-weight: 600;
        line-height: 20px;
    }

    .ft-box1 ul li a:hover {
        border-bottom: 2px solid #2f2f2f;
    }

    /*푸터박스2*/
    .ft-box2 {
        width: 225px;
        height: 30px;
        float: right;
    }

    .ft-box2 ul {
        display: flex;
        justify-content: space-between;
    }

    .ft-box2 .sns-img {
        width: 30px;
        height: 30px;
        justify-content: space-between;
    }

    .ft-box2 .sns-img:hover {
        opacity: 0.7;
        transition: 0.7s;
    }

    /*푸터바텀*/
    .ft-bottom {
        width: 100%;
        height: 240px;
        margin: 0 auto;
        display: flex;
        flex-flow: column wrap;
        align-content: space-between;
    }

    /*푸터박스3*/
    .ft-box3 {
        width: 400px;
        height: 162px;
    }

    .ft-box3 p {
        font-size: 16px;
        color: #222;
        line-height: 20px;
    }

    /*푸터박스4*/
    .ft-box4 {
        width: 400px;
        height: auto;
        margin: 0 auto;
    }

    .ft-box4 h3 {
        font-weight: 600;
        padding-bottom: 20px;
    }

    .ft-box4 input {
        width: 100%;
        height: 47px;
        color: #919191;
        font-weight: 600;
        border: 0;
        border-bottom: 2px solid #222;
        background-image: url(img/icon/arrow.png);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: right;
    }

    /*푸터박스5*/
    .ft-box5 {
        width: 150px;
        height: 70px;
    }

    .ft-box5 a img {
        width: 100%;
        height: 70px;
    }
}